---
const router = [
    {
        title: "Inicio",
        href: "#home"
    },
    {
        title: "Servicios",
        href: "#services"
    },
    {
        title: "Proyectos",
        href: "#proyects"
    },
    {
        title: "Sobre Nosotros",
        href: "#about"
    },
    {
        title: "Contactanos",
        href: "#contact"
    },
]


---

<header id="main-header" class="flex items-center z-20 transition-all duration-500 fixed h-24 w-full top-0 left-2/4 -translate-x-[50%]">
    <div class="max-w-screen-content mx-auto w-full flex items-center justify-between">
        <aside class="flex-grow basis-0">
            <img src="/assets/logo-white.png" alt="Logo de Blancocom">
        </aside>
        <nav class="flex items-center gap-4">
            {
                router.map((route) => {
                    return (
                        <a href={route.href} class="hover:scale-105 transition-transform duration-500">{route.title}</a>
                    )
                })
            }
        </nav>
        <aside class="flex justify-end flex-grow basis-0">
            <button class="bg-gradient-to-r whitespace-nowrap from-fuchsia-600 basis-0 to-violet-600 px-8 py-3 rounded-full">
                Quiero asesoría
            </button>
        </aside>
    </div>
</header>

<script>
    document.addEventListener("scroll", (e) => {
        if (window.scrollY >= 25) {
            document.getElementById("main-header").classList.add("isScroll")
        } else {
            document.getElementById("main-header").classList.remove("isScroll")
        }
    })
</script>

<style>
    .isScroll {
        @apply bg-zinc-950/50 backdrop-blur-2xl h-16
    }
</style>